# Python caches and local runtime metadata
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# BLOCK ALL DATASETS (Crucial)
datasets/
data/
output/


# BLOCK HEAVY MODEL CHECKPOINTS
models/
